body {
    padding: 0;
    margin: 0;
    font-family: tahoma, verdana, arial, sans-serif;
}

button {
    border: 1px solid #D3D3D3;
    background: #ffffff;
    height: 32px;
    line-height: 25px;
    margin: 0;
    width: 120px;
}

button:hover {
    cursor: pointer;
}

.content{
    width: 100%;
    height: 300px;
}

#chat {
    float: left;
    width: 69%;
}

#remote {
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 200px;
}

.host #remote {
    visibility: hidden;
}

#remote #controls {
    margin: 5px 0 25px 0;
}

#remote #controls .name {
    position: absolute;
    font-size: 20px;
    color: lightgray;
    top: 165px;
    left: 50%;

}

#localVideo ,#remoteVideo {
    right: 0px;
    margin: 0 auto;
}

#localVideo {
    height: 80px;
    border: 1px solid #D3D3D3;
}

#remoteVideo {
    height: 180px;
    border: 1px solid #D3D3D3;
    margin-top: 10px;
}

#txtInput, #chatContent {
    border: 1px solid lightgray;
    width: 93%;
    float: right;
    padding: 3px 10px;
}

#sendButton {
    border: 1px solid #D3D3D3;
    background: none;
    height: 32px;
    line-height: 25px;
    float: right;
    clear: both;
    margin: 0;
    width: 40%;
}

#chatContent {
    min-height: 100px;
    max-height: 150px;
    overflow: scroll;
}

#chatContent p{
    display: block;
    width: 100%;
    margin: 5px 0;
}

#chatContent p.myself{
    font-size: smaller;
    color: gray;
}

.color0 {
    color: darkred;
}
.color1 {
     color: forestgreen;
}
.color2 {
    color: blue;
}
.color3 {
    color: darkgoldenrod;
}
.color4 {
    color: darkmagenta;
}
.color5 {
    color: darkolivegreen;
}
.color6 {
    color: darkred;
}
.color7 {
    color: blue;
}
.color8 {
    color: darkgoldenrod;
}
.color9 {
    color: darkmagenta;
}

#clients {
    float: right;
    width: 25%;
    list-style: none;
    min-height: 80px;
    border: 1px solid #D3D3D3;
    padding: 5px 10px;
    margin: 0;
}

#clients li{
    padding: 3px 0 5px 15px;
}

#clients li.selected{
    background: lightgray;
}

#clients li.pipedUp{
    background: transparent url(../images/pipedUp.png) left center no-repeat;
}

.host #clients li:hover {
    cursor: pointer;
}

#login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #585858;
    color: white;
    opacity: 0.8;
}


#login .elements{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 316px;
    height: 50px;
    margin: auto;
    margin-left: -133px;
}

#login .elements button {
    width: 231px;
    margin-top: 15px;
}

#closeButton {
    width: 155px;
}

#controls {
    width: 100%;
    text-align: center;
    height: 25px;
    margin: 25px 0;
}

.invis {
    display: none;
}

div#userIdent {
    position: absolute;
    color: lightgray;
    font-size: 35px;
    top: 20px;
    left: 2%;
    text-align: center;
    width: 180px;
}

div#userIdent .name{
    color: lightgray;
    font-size: 35px;
    margin-bottom: 10px;
}

div#userIdent button{
    width: 75px;
}
